.size_img{
    background-size:revert;
    height: 700px;
    background-repeat: repeat;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top:10px
}
.div_cree{
    position : relative;
    top: -600px;
    left: 300px;
    height: 500px;
    width: 1300px;
    background-color: white;
}
.logo3{
    height: 150px;
    width: 150px;
}
.logo2{
    height: 150px;
    width: 170px;
}
.logo1{
    height: 150px;
    width: 150px;
}
.linea{
    width: 750px;

}
.center {


}